<div class="container">
  <div class="header">
    <p> {{data}}</p>
  </div>
  <div class="filters">
    <div class="region">
      <h2>Region</h2>
    </div>
    <div class="platform">
      <h2>Platform</h2>
      <p>These three divs are in a container. They can all be removed and we can just put the content in one big container if that is your style</p>
    </div>
    <div class="lfg">
      <h2>LFG/LFM</h2>
    </div>
  </div>
  <div class="listings">
    <h2>Listings</h2>
    <p>This div expands to fit its contents</p>
  </div>
</div>